<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ExposeMetaDataBehaviour">
          <serviceMetadata httpGetUrl="http://localhost:9876/Stock/ManufacturerService/MEX"
            httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ExposeMetaDataBehaviour" name="Stock.Services.Manufacturer.ManufacturerService">
        <endpoint address="http://localhost:9876/Stock/ManufacturerService"
          binding="basicHttpBinding" bindingConfiguration="" contract="Stock.Services.Manufacturer.IManufacturerService" />
      </service>
      <service name="Stock.Services.ScreenType.ScreenTypeService">
        <endpoint address="http://localhost:9876/Stock/ScreenTypeService"
          binding="basicHttpBinding" bindingConfiguration="" contract="Stock.Services.ScreenType.IScreenTypeService" />
      </service>
      <service name="Stock.Services.ConnectionType.ConnectionTypeService">
        <endpoint address="http://localhost:9876/Stock/ConnectionTypeService"
          binding="basicHttpBinding" bindingConfiguration="" contract="Stock.Services.ConnectionType.IConnectionTypeService" />
      </service>
      <service name="Stock.Services.Product.ProductService">
        <endpoint address="http://localhost:9876/Stock/ProductService"
          binding="basicHttpBinding" bindingConfiguration="" contract="Stock.Services.Product.IProductService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>