<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="StockContext" connectionString="metadata=res://*/StockModel.csdl|res://*/StockModel.ssdl|res://*/StockModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\MSSQLLocalDB;initial catalog=Stock;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ExposeMetaDataBehaviourManufacturer">
          <serviceMetadata httpGetUrl="http://localhost:9876/Stock/ManufacturerService/MEX" httpGetEnabled="true" />
        </behavior>
        <behavior name="ExposeMetaDataBehaviourScreenType">
          <serviceMetadata httpGetUrl="http://localhost:9876/Stock/ScreenTypeService/MEX" httpGetEnabled="true" />
        </behavior>
        <behavior name="ExposeMetaDataBehaviourConnectionType">
          <serviceMetadata httpGetUrl="http://localhost:9876/Stock/ConnectionTypeService/MEX" httpGetEnabled="true" />
        </behavior>
        <behavior name="ExposeMetaDataBehaviourProduct">
          <serviceMetadata httpGetUrl="http://localhost:9876/Stock/ProductService/MEX" httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ExposeMetaDataBehaviourManufacturer" name="Stock.Services.Manufacturer.ManufacturerService">
        <endpoint address="http://localhost:9876/Stock/ManufacturerService" binding="basicHttpBinding" bindingConfiguration="" contract="Stock.Services.Manufacturer.IManufacturerService" />
      </service>
      <service behaviorConfiguration="ExposeMetaDataBehaviourScreenType" name="Stock.Services.ScreenType.ScreenTypeService">
        <endpoint address="http://localhost:9876/Stock/ScreenTypeService" binding="basicHttpBinding" bindingConfiguration="" contract="Stock.Services.ScreenType.IScreenTypeService" />
      </service>
      <service behaviorConfiguration="ExposeMetaDataBehaviourConnectionType" name="Stock.Services.ConnectionType.ConnectionTypeService">
        <endpoint address="http://localhost:9876/Stock/ConnectionTypeService" binding="basicHttpBinding" bindingConfiguration="" contract="Stock.Services.ConnectionType.IConnectionTypeService" />
      </service>
      <service behaviorConfiguration="ExposeMetaDataBehaviourProduct" name="Stock.Services.Product.ProductService">
        <endpoint address="http://localhost:9876/Stock/ProductService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductService" contract="Stock.Services.Product.IProductService" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IProductService" 
                 maxBufferSize="2000000" 
                 maxReceivedMessageSize="2000000" />
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>