<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IScreenTypeService" />
        <binding name="BasicHttpBinding_IManufacturerService" />
        <binding name="BasicHttpBinding_IConnectionTypeService" />
        <binding name="BasicHttpBinding_IProductService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9876/Stock/ScreenTypeService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IScreenTypeService"
        contract="ScreenTypeService.IScreenTypeService" name="BasicHttpBinding_IScreenTypeService" />
      <endpoint address="http://localhost:9876/Stock/ManufacturerService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IManufacturerService"
        contract="ManufacturerService.IManufacturerService" name="BasicHttpBinding_IManufacturerService" />
      <endpoint address="http://localhost:9876/Stock/ConnectionTypeService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConnectionTypeService"
        contract="ConnectionTypeService.IConnectionTypeService" name="BasicHttpBinding_IConnectionTypeService" />
      <endpoint address="http://localhost:9876/Stock/ProductService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductService"
        contract="ProductService.IProductService" name="BasicHttpBinding_IProductService" />
    </client>
  </system.serviceModel>
</configuration>